
:root {
    --btn-success-color: rgb(255, 254, 254);
    --toggle-button-checked-bg: rgb(95, 94, 94);
    --toggle-button-checked-content-bg: rgb(62, 62, 62);
    --btn-secondary-bg: rgb(255, 255, 255);
    --btn-secondary-color: rgb(102, 101, 101);
    --btn-secondary-hover-bg: rgb(218, 218, 218);
    --btn-select-fg: white;
    --btn-select-bg: rgba(50,50,50);


    --p-togglebutton-color: var(--block-fg) !important;
    --p-togglebutton-background: var(--block-bg) !important;
    --p-togglebutton-checked-background: var(--toggle-button-checked-bg) !important;
    --p-togglebutton-content-checked-background: var(--toggle-button-checked-content-bg) !important;
    --p-togglebutton-checked-border-color: var(--ui-border-color) !important;
    --p-togglebutton-border-color: var(--ui-border-color) !important;
    --p-togglebutton-padding: 0.2rem .7rem !important;

    /* SECONDARY */
    --p-button-secondary-background: var(--btn-secondary-bg) !important;
    --p-button-outlined-secondary-border-color: var(--btn-border-color) !important;
    --p-button-outlined-secondary-color: var(--btn-secondary-color) !important;
    --p-button-secondary-hover-color: var(--btn-secondary-hover-color) !important;
    --p-button-text-secondary-color: white!important;
}

.ci-btn {
    background-color: var(--btn-bg);
    color: var(--btn-fg) !important;
    border: 1px solid var(--btn-border-color);
    transition: all 0.2s ease !important;
}

.ci-btn--select {
    color: var(--btn-select-fg) !important;
    background-color: var(--btn-select-bg) !important;
}

.ci-btn:hover {
    background-color: var(--btn-hover-bg) !important;
    color: var(--btn-hover-fg) !important;
    transition: all 0.2s ease !important;
}
.ci-btn:active {
    background-color: var(--btn-active-bg) !important;
    transition: all 0.1s ease !important;
    border: 1px solid rgb(136, 136, 136) !important;
}

.btn-success {
    color: var(--btn-success-color) !important;
    font-family: var(--font) !important;
}


/* SELECT BUTTON */
.p-selectbutton {
    background-color: var(--block-bg) !important;
}

/* SECONDARY */
.p-button-secondary {
    background-color: var(--btn-secondary-bg) !important;
    color: var(--btn-secondary-color) !important;
    transition: all .4s ease;
}
.p-button-secondary:hover {
    transition: all .4s ease;
    background-color: var(--btn-secondary-hover-bg) !important;
    color: var(--btn-secondary-color) !important;
}