@import url(./navdrawer.css);
@import url(./btn.css);
@import url(./terminal.css);
@import url(./table.css);
@import url(./tableSettingDrawer.css);
@import url(./input.css);
@import url(./toast.css);
@import url(./confirmPopup.css);
@import url(./accordion.css);
@import url(./textEditor.css);
@import url(./panel.css);
@import url(./operationItem.css);
@import url(./chip.css);
@import url(./dialog.css);
@import url(./splitter.css);
@import url(./toolbar.css);
@import url(./selectInput.css);
@import url(./tableTree.css);

/* Стили которые могут применятся ко всем компонентам */
:root {


}

.p-dialog-content {
    padding: 0 !important;
}
.p-dialog-header {
    padding: 0.4rem 1.5rem !important;
    border-bottom: 1px solid var(--block-border-color);
}

.params-form .p-datatable-footer {
    padding: 0 !important;
    background: var(--block-bg) !important;
}
.params-form .p-datatable-tbody > tr > td {
    padding: 0 !important;
}

.ci-block {
    background-color: var(--block-bg) !important;
    color: var(--block-fg) !important;
    font-family: var(--font) !important;
    transition: all var(--duration-color) ease !important;
}

.ci-block-2 {
    background-color: var(--block-bg-2) !important;
    color: var(--block-fg) !important;
    font-family: var(--font) !important;
    transition: all var(--duration-color) ease !important;
}

.ci-view {
    border-left: 1px solid var(--border-color-view);
}

.ci-text {
    font-family: var(--font);
    color: var(--block-fg);
    cursor: default;
}


.p-floatlabel {
    font-family: var(--font) !important;
}

.p-tooltip { 
    font-family: var(--font) !important;
}

.p-inputtext {
    font-family: var(--font) !important;
}

.none {
    display: none !important;
}
