.theme-light {
    /* PrimeVue Tokens */
    --primary-color: #007bff;
    --background-color: #ffffff;
    --text-color: #000000;
    --p-toggleswitch-background: red !important;
    --p-drawer-background: white !important;
    --p-drawer-color: rgb(2, 2, 2) !important;
    --p-panelmenu-panel-background: white !important;
    --p-panelmenu-panel-color: rgb(0, 0, 0) !important;
    --p-panelmenu-item-color: black !important;

    /* Custom Tokens */
    --block-bg: white !important;
    transition: all var(--duration-color) ease !important;
}