.theme-light {
    /* PrimeVue Tokens */
    --primary-color: #007bff;
    --background-color: #ffffff;
    --text-color: #000000;
    --p-drawer-background: white !important;
    --p-drawer-color: rgb(2, 2, 2) !important;
    --p-panelmenu-panel-background: white !important;
    --p-panelmenu-panel-color: rgb(0, 0, 0) !important;
    --p-panelmenu-item-color: black !important;

    /* Button PrimeVue */
    --p-button-primary-background: var(--btn-bg) !important;
    --p-button-primary-hover-background: var(--btn-hover-bg) !important;
    --p-button-primary-active-background: var(--btn-active-bg) !important;
    --p-button-primary-border-color: var(--btn-border-color) !important;
    --p-button-primary-hover-border-color: var(--btn-border-color) !important;
    --p-button-primary-active-border-color: var(--btn-border-color) !important;
    --p-button-primary-color: var(--btn-fg) !important;
    --p-button-primary-hover-color: var(--btn-hover-fg) !important;
    --p-button-primary-active-color: var(--btn-hover-fg) !important;
    --p-button-primary-focus-ring-color: var(--ui-focus-color) !important;

    /* Switch Toggle PrimeVue */     
    --p-toggleswitch-focus-ring-color: var(--ui-focus-color) !important;
    --p-toggleswitch-background: var(--ui-bg) !important;
    --p-toggleswitch-border-color: var(--ui-border-color) !important;
    --p-toggleswitch-handle-background: var(--p-zinc-500) !important;
    --p-toggleswitch-checked-background: var(--p-zinc-300) !important;
    --p-toggleswitch-handle-checked-background: var(--p-zinc-700) !important;
    --p-toggleswitch-hover-background: var(--p-zinc-300) !important;
    --p-toggleswitch-handle-hover-background: var(--p-zinc-700) !important;
    --p-toggleswitch-checked-hover-background: var(--p-zinc-300) !important;

    /* Checkbox PrimeVue */
    --p-checkbox-background: var(--p-zinc-50) !important;
    --p-checkbox-checked-background: var(--p-zinc-700) !important;
    --p-checkbox-checked-hover-background: var(--p-zinc-500) !important;
    --p-checkbox-disabled-background: var(--p-zinc-300) !important;
    --p-checkbox-border-color: var(--p-zinc-400) !important;
    --p-checkbox-hover-border-color: var(--p-zinc-500) !important;
    --p-checkbox-checked-border-color: var(--p-zinc-400) !important;
    --p-checkbox-focus-ring-color: var(--ui-focus-color) !important;
    --p-checkbox-checked-focus-border-color: var(--ui-focus-color) !important;
    --p-checkbox-checked-hover-border-color: var(--p-zinc-400) !important;
    --p-checkbox-icon-color: var(--p-zinc-700) !important;
    --p-checkbox-icon-checked-color: var(--p-zinc-200) !important;
    --p-checkbox-icon-checked-hover-color: var(--p-zinc-50) !important;

    /* Custom Tokens */
    --block-bg: white !important;
    transition: all var(--duration-color) ease !important;
}